
  .image-extension {
    img:not(.no-bgap) {
      margin-bottom: 20px;
    }
    .image-container {
      display: flex;
  
      a img {
        width: 100%;
      }
    }
  }
  // Lazyload effects
  img:not([src]) {
    visibility: hidden;
  }

  // Fixes Firefox anomaly during image load
  @-moz-document url-prefix() {
    img:-moz-loading {
      visibility: hidden;
    }
  }
