
.button-link {
    position: relative;
    margin-bottom: $cmp-bottom-gap;

    // button style override
    .btn-link {
        font-weight: 400;
        font-size: rem(16px);

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            box-shadow: none;
        }
    }

    // new button type
    .btn {
        border-width: rem(2px);

        &[data-type="line"] {
            font-size: rem(14px);
            line-height: rem(20px);
            border: none;
            outline: 0;
            box-shadow: none;
            z-index: 2;
            padding: 0;

            span {
                display: block;
                background: inherit;
                position: relative;
                z-index: 2;
                padding: rem(6px) rem(12px);
                border-radius: inherit;
            }

            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                top: calc(50% + 1.5px);
                width: 50%;
                height: 1px;
                z-index: 0;
                pointer-events: none;
                background-color: $grey;
            }

            &:before {
                right: 50%;
            }

            &:after {
                left: 50%;
            }
        }

        &[data-type="round"] {
            font-size: rem(13px);
            line-height: rem(24px);
            border: 1px solid $color-swiss-coffee;
            background-color: $white;
            color: $black;
            font-weight: 700;
            padding: rem(3px) rem(12px);
            border-radius: rem(20px);
            cursor: pointer;
            text-transform: uppercase;
            margin-right: 10px;
            white-space: nowrap;
            transition: all 0.3s ease;

            // &:active,
            // &:focus {
            //     background-color: $color-valencia;
            //     border: 1px solid $color-valencia;
            //     -webkit-box-shadow: inset 0 4px 4px 0
            //         rgba(5, 13, 31, 0.18);
            //     box-shadow: inset 0 4px 4px 0 rgba(5, 13, 31, 0.18);
            // }

            // &:hover {
            //     border: 1px solid $color-swiss-coffee !important;
            //     color: inherit !important;
            // }
        }

        &.btn-link {
            &[data-type="line"] {
                color: $grey;
                background-color: $white;
                min-width: rem(166px);
                padding: 0;

                &:before,
                &:after {
                    background-color: currentColor;
                }
            }
        }

        &:focus {
            box-shadow: none;
        }
    }

    .btn-white {
        background-color: $white !important;
    }
}

